header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5 rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    background: linear-gradient(to bottom,  #8263a0,
    #5f2a97);
    padding: 1 rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px; 
   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  }
